{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% translate "Polls" %}{% endblock title %}
{% block main %}
  {% block content %}
    <nav aria-label="breadcrumb border-bottom" class="breadcrumb-panel">
      <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a href="{% url 'polls:index' %}">{% translate "Polls" %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% translate "Add Poll" %}</li>
      </ol>
    </nav>
    <div class="row align-items-center mb-2 g-2">
      <div class="col-12 col-md-auto mb-2 mb-md-0 d-flex justify-content-md-start justify-content-center">
        <a href="{% url 'polls:index' %}" class="btn btn-outline-secondary w-100">&larr; {% translate "Back to Polls" %}</a>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12 text-center">
        <h1 class="mb-0">{% translate "Poll Add" %}</h1>
      </div>
    </div>

    <form method="post" class="max-w-400 mx-auto">
      {% csrf_token %}
      {{ form.question.label_tag }}
      {{ form.question}}
      {{ form.question.errors }}
      <div class="my-3">Choices</div>
      {{ formset.management_form }}
      <div id="formset-container">
        {% for sub_form in formset %}
          <div class="formset-form mb-2">
            {% for hidden_field in sub_form.hidden_fields %}
              {{ hidden_field }}
            {% endfor %}
            {{ sub_form.choice_text}}
            {{ sub_form.choice_text.errors }}
          </div>
        {% endfor %} 
      </div>
      <div class="formset-actions my-4 row">
        <div class="col-md-6">
          <button type="button" id="add-choice-button" class="w-100 btn btn-outline-dark my-2">Add</button>
        </div>
        <div class="col-md-6">
          <button type="button" id="remove-choice-button" class="w-100 btn btn-outline-danger my-2">Remove</button>
        </div>
      </div>
      <button type="submit" class="btn btn-success w-100">{% translate "Create Poll" %}</button>
    </form>
  {% endblock content %}
{% endblock main %}

{% block inline_javascript %}
<script src="{% static 'js/polls/formset_controller.js' %}"></script>
{% endblock inline_javascript %}