{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% translate "Polls" %}{% endblock title %}
{% block main %}
  {% block content %}
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <label for="choice">{{ object.question }}</label>
      {{ form.choice}}
      {{ form.choice.errors }}
      {% if object.is_closed %}
        This poll is closed. Voting is disabled.
      {% else %}
        <button type="submit" class="btn btn-primary d-block" >{% translate "Vote" %}</button>
      {% endif %}
    </form>
  {% endblock content %}
{% endblock main %}

{% block inline_javascript %}
<script src="{% static 'js/polls/formset_controller.js' %}"></script>
{% endblock inline_javascript %}