{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load form_tags %}
{% block title %}
  {{ user.email }}
{% endblock title %}
{% block content %}
<nav aria-label="breadcrumb border-bottom" class="breadcrumb-panel">
  <ol class="breadcrumb mt-3">
    <li class="breadcrumb-item"><a href="{% url 'polls:index' %}">{% translate "Polls" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% translate "My Profile" %}</li>
  </ol>
</nav>
<form class="form-horizontal max-w-400 mx-auto"
      method="post"
      action="{% url 'users:update' %}">
  {% csrf_token %}
  <h1 class="text-center">My Profile</h1>
    <div class="mb-3">
        {{ form.first_name.label_tag }}
        {{ form.first_name|add_class:"form-control" }}
        {{ form.first_name.errors }}
    </div>
    <div class="mb-3">
        {{ form.last_name.label_tag }}
        {{ form.last_name|add_class:"form-control" }}
        {{ form.last_name.errors }}
    </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary w-100">Update</button>
    </div>
  </div>
</form>
{% endblock content %}
